<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
        <!-- <span><alarm-count></alarm-count></span> -->
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Rooms</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button *ngIf="!refreshing" fill="outline" color="medium" (click)='refreshLiveValues()'>
        <ion-icon name='refresh'></ion-icon>
      </ion-button> -->
      <ion-spinner *ngIf="refreshing"></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rooms</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-select class="ion-padding-horizontal" label-placement="floating" interface="popover" label="Select A Type" (ionChange)="onSelected($event)">
    <ion-select-option *ngFor="let item of searchData" [value]="item">{{item}}</ion-select-option>
  </ion-select>

  <ion-searchbar #searchBar *ngIf="searchTerm" (ionClear)="onClearSearch()" [(ngModel)]='searchInput' [animated]='true' debounce="800" (ionInput)='onSearchChange($event)' (keyup)="handleKeyUp($event)" (ionClear)="closeKeyboard()"></ion-searchbar>

  <ion-list #ionList>
    <div *ngFor="let entity of filteredArray" style="min-width:100%; max-width: 100%">
      <ion-item button style="max-width: 100%" *ngIf="shouldShow(entity)">
        <ion-label>
          <entity *ngIf="entity.entityType == 2" [device]="entity" [liveValueDisplay]="liveValueDisplay" [alarmCount]="alarmCount"></entity>
          <entity *ngIf="entity.entityType == 1" [sensor]="entity" [liveValueDisplay]="liveValueDisplay" [alarmCount]="alarmCount"></entity>
          <p *ngIf="entity.entityType == 0">Please select a type from above.</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer ion-no-padding">
    <sliding-footer [searchType]="searchType" [liveValueDisplay]="liveValueDisplay" [modeType]="modeType" [buttonsDisplayType]="buttonsDisplayType" (sortAZ)="sortAlphabetical()" (sortVal)="sortValue()" (showMode)="displayMode()" (showValues)="displayLiveValues()"></sliding-footer>
  </ion-toolbar>
</ion-footer>