<ion-grid>

  <ion-row (click)="deviceTapped(device)" *ngIf="device && shouldShow() && shouldShowMode()">
    <ion-col size="1" class="ion-align-self-center">
      <ion-icon [class]="device.deviceType | DeviceDisplayIcon: [device.deviceOrSensorType]" slot="start"></ion-icon>
    </ion-col>

    <ion-col size="8" class="ion-align-self-center" style="max-width: 60%">
      <div>
        <p class="entityName">{{ device.entityName }}</p>
      </div>
      <div>
        <p class="roomName">{{ device.roomName }} - {{ device.controlName || device.controlSerialNumber }}</p>
      </div>
    </ion-col>
    
      <!--<ion-col size="1" class="ion-align-self-center ion-text-right">
     <div *ngIf="(alarmCount | async)?.get(device.entitySerialNumber)?.activeCount > 0 || (alarmCount | async)?.get(device.entitySerialNumber)?.ackCount > 0">
        <ion-badge *ngIf="(alarmCount | async)?.get(device.entitySerialNumber)?.activeCount > 0" color="alarm0">{{(alarmCount | async)?.get(device.entitySerialNumber)?.activeCount}}</ion-badge>
      </div>
      <div>
        <ion-badge *ngIf="(alarmCount | async)?.get(device.entitySerialNumber)?.ackCount > 0" color="alarm1">{{(alarmCount | async)?.get(device.entitySerialNumber)?.ackCount}}</ion-badge>
      </div> 
    </ion-col>-->

    <ion-col size="3" class="ion-align-self-center ion-text-right">
      <span [style.color]="getLVColor((liveValuesMap | async)?.get(device.entitySerialNumber)?.value)">
        {{ ((liveValuesMap | async )?.get(device.entitySerialNumber)?.value | LiveValueDisplay: ['device',
          device.deviceOrSensorType, controlData.getControl(device.controlSerialNumber)]) || '- -'}}
        <div class="mode" *ngIf="device.deviceType < 268435456">
          {{ (liveValuesMap | async )?.get(device.entitySerialNumber)?.mode 
            | ModeDisplay: [ (liveValuesMap | async )?.get(device.entitySerialNumber)?.mode] }} 
            - {{ (liveValuesMap | async )?.get(device.entitySerialNumber)?.amps | number: '1.0-3' }} amps
        </div>
      </span>
    </ion-col>
  </ion-row>



  <ion-row (click)="sensorTapped(sensor)" *ngIf="sensor && shouldShow()" style="width: 100%">
    <ion-col size="1" class="ion-align-self-center" style="width: 8%">
      <ion-icon [class]="sensor.sensorType | SensorDisplayIcon: [sensor.deviceOrSensorType]"></ion-icon>
    </ion-col>

    <ion-col size="8" class="ion-align-self-center ion-text-left">
      <div>
        <p>{{ sensor.entityName }}</p>
      </div>
      <div class="entityName">
        <p class="roomName">{{ sensor.roomName }} - {{ sensor.controlName || sensor.controlSerialNumber}}</p>
      </div>
    </ion-col>

    <!--<ion-col size="1" class="ion-align-self-center ion-text-right">
       <div *ngIf="(alarmCount | async)?.get(sensor.entitySerialNumber)?.activeCount > 0 || (alarmCount | async)?.get(sensor.entitySerialNumber)?.ackCount > 0">
        <ion-badge *ngIf="(alarmCount | async)?.get(sensor.entitySerialNumber)?.activeCount > 0" color="alarm0">{{(alarmCount | async)?.get(sensor.entitySerialNumber)?.activeCount}}</ion-badge>
      </div>
      <div>
        <ion-badge *ngIf="(alarmCount | async )?.get(sensor.entitySerialNumber)?.ackCount > 0" color="alarm1">{{(alarmCount | async)?.get(sensor.entitySerialNumber)?.ackCount}}</ion-badge>
      </div>
    </ion-col> -->

    <ion-col size="3" class="ion-align-self-center ion-text-right">
      <span [style.color]="getLVColor((liveValuesMap | async)?.get(sensor.entitySerialNumber)?.value)">
        {{ ((liveValuesMap | async )?.get(sensor.entitySerialNumber)?.value | LiveValueDisplay: ['sensor',
          sensor.deviceOrSensorType, controlData.getControl(sensor.controlSerialNumber), (liveValuesMap | async )?.get(sensor.entitySerialNumber)?.label]) || '- -' }}
      </span>
    </ion-col>
  </ion-row>
</ion-grid>
