// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #03a9f4;
  --ion-color-primary-contrast: #000;

  --ion-color-secondary: #a1e617;
  --ion-color-secondary-contrast: #000;

  --ion-color-danger: #f43e00;

  --ion-color-light: #bdc3c7;
  --ion-color-light-contrast: #000;

  --ion-color-dark: #d35400;
  --ion-color-dark-contrast: #000;

  /* Custom colors */
  --ion-color-outline: #474747;
  --ion-color-outline-contrast: rgb(221, 221, 221);

  --ion-color-notallowed: #252525;
  --ion-color-notallowed-contrast: rgb(221, 221, 221);

  --ion-color-alert: #f39c12;
  --ion-color-twitter: #1da1f4;
  --ion-color-google: #dc4a38;
  --ion-color-vimeo: #23b6ea;
  --ion-color-facebook: #3b5998;
  --ion-color-favorite: #ffd700;
  --ion-color-online: #20d81a;
  --ion-color-offline: #e5210b;
  --ion-color-warning: #fff200;
  --ion-color-inactive: #808287;
  --ion-color-header: #ededed;
  --ion-color-acknowledged: #d0d302;
  --ion-color-alarm0: #e5210b;
  --ion-color-alarm1: #d0d302;
  --ion-color-alarm2: #a1e617;
  --ion-color-alarm3: #0095fe;
}
