<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="sensors"
      [routerLink]="['/control-details-tabs/sensors']"
      (click)="onTab('Sensors List')"
    >
      <ion-icon name="thermometer"></ion-icon>
      <ion-label>Sensors</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="devices"
      [routerLink]="['/control-details-tabs/devices']"
      (click)="onTab('Device List')"
    >
      <ion-icon name="nuclear"></ion-icon>
      <ion-label>Devices</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="alarms"
      [routerLink]="['/control-details-tabs/alarms']"
      (click)="onTab('Alarms List')"
    >
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alarms</ion-label>
      <ion-badge color="danger">
        {{ alarmData.getAlarmCounts(control.serialNumber, undefined).activeCount +
        alarmData.getAlarmCounts(control.serialNumber, undefined).acknowledgedCount +
        alarmData.getAlarmCounts(control.serialNumber, undefined).silentCount }}
      </ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
